<!-- Header -->
<header>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <!-- Navbar Brand -->
      <a class="navbar-brand" href="{{ url_for('home.index') }}">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" height="10%" width="10%">
        {{ config.APP_NAME }}
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Main Navigation -->
      
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home.explorer')}}" title="Explorador de transacciones">Explorador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home.registry')}}" title="Registro de transacción">Registro</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>