{% extends 'core/base.html' %}

{% block content %}

<h2>Detalle de una Transacción</h2>
<hr>

<div>

    {% if transaction %}

    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="input_radicado">Radicado</label>
            <input type="text" class="form-control" id="input_radicado" name="radicado" value="{{transaction.radicado}}" readonly>
        </div>

        {% if tail_transaction_hash %}

        <div class="form-group col-lg-6">
            <label for="input_tail_transaction_hash">IOTA Transaction Hash</label>
            <input type="text" class="form-control" id="input_tail_transaction_hash" name="tail_transaction_hash" value="{{tail_transaction_hash}}" readonly>
        </div>

        {% endif %}
 
    </div>

    <hr>
    <label><b>Vechiculo</b></label>
    <div class="form-row">
        <div class="form-group col-lg-3">
            <label for="input_placa">Placa</label>
            <input type="text" class="form-control" id="input_placa" name="placa" value="{{transaction.placa}}" readonly>
        </div>
        <div class="form-group col-lg-3">
            <label for="input_vehiculo">Tipo</label>
            <input type="text" class="form-control" id="input_vehiculo" name="tipo" value="{{transaction.vehiculo}}" readonly>
        </div>
        <div class="form-group col-lg-3">
            <label for="input_marca">Marca</label>
            <input type="text" class="form-control" id="input_marca" name="marca" value="{{transaction.marca}}" readonly>
        </div>
        <div class="form-group col-lg-3">
            <label for="input_modelo">Modelo</label>
            <input type="text" class="form-control" id="input_modelo" name="modelo" value="{{transaction.modelo}}" readonly>
        </div>
    </div>


    <hr>
    <label><b>Propietario</b></label>
    <div class="form-row">
        <div class="form-group col-lg-3">
            <label>Cedula</label>
            <input type="text" class="form-control" id="input_cedula" name="cedula" value="{{transaction.cedula}}" readonly>
        </div>
        <div class="form-group col-lg-6">
            <label>Nombre</label>
            <input type="text" class="form-control" id="input_nombre" name="nombre" value="{{transaction.nombre}}" readonly>
        </div>
        <div class="form-group col-lg-3">
            <label>Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="input_fecha_nacimiento" name="fecha_nacimiento" value="{{transaction.fecha_nacimiento}}"" readonly>
        </div>
    </div>
    <hr>


    <div class="form-row d-flex justify-content-center">
        <div class="col-4">
            <label class="form-check-label" for="input_seguro">
                Seguro particular
            </label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="seguro" id="input_si_seguro" 
                {% if transaction.seguro == 'true' %} checked {% endif %}
                disabled>
                <label class="form-check-label" for="input_si_seguro">
                    Si
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="seguro" id="input_no_seguro"  
                {% if transaction.seguro == 'false' %} checked {% endif %}
                disabled>
                <label class="form-check-label" for="input_no_seguro">
                    No
                </label>
            </div>

        </div>
    </div>

    <br>
    
    {% endif %}

    <div class="form-row d-flex justify-content-center">
        <a href="{{ url_for('home.explorer') }}" class="btn btn-outline-info rounded col-4">Atras</a>
    </div>


</div>

<br>

{% endblock %}