{% extends 'core/base.html' %}

{% block content %}

<h2>Consultar una Transacción</h2>
<hr>

<div class="table-responsive-sm ">
    <table class="table table-hover table-sm" id="tabla">
        <thead>
            <tr class="d-flex">
                <th colspan=1 scope="col" class="border-top-0 col-3 d-flex justify-content-center ">
                    Radicado
                </th>
                <th colspan=1 scope="col" class="border-top-0 col-1 d-flex justify-content-center">
               
                </th>
                <th colspan=1 scope="col" class="border-top-0 col-7 d-flex justify-content-center">
                    Tail Transaction Hash
                </th>
                <th colspan=1 scope="col" class="border-top-0 col-1 d-flex justify-content-center">
                    
                </th>
            </tr>

        </thead>

        {% if transaction_list %}
        <tbody>
            {% for transaction in transaction_list %}
            <tr class="d-flex">
                <td class="col-3">
                    <p class="text-ellipsis">{{ transaction.radicado }}</p>
                </td>
                <td class="col-1">
                    <form action="{{url_for('home.detail', query_type='db')}}" method="POST">
                        <input type="hidden" name="radicado" value="{{transaction.radicado}}">
                        <button type="submit" class="btn btn-outline-dark btn-sm p-1 m-0 w-50 rounded" title="Ver en la Base de Datos">
                            <img src="{{ url_for('static', filename='img/database.png') }}" alt="Ver en la Base de Datos"
                            width="60%" height="70%"/>
                        </button>
                    </form>
                </td>

                <td class="col-7">
                    <p class="text-ellipsis">{{ transaction.tail_transaction_hash }}</p>
                </td>
                <td class="col-1 row d-flex justify-content-end">
                    <form action="{{url_for('home.detail', query_type='tangle')}}" method="POST">
                        <input type="hidden" name="tail_transaction_hash" value="{{transaction.tail_transaction_hash}}">
                        <button type="submit" class="btn btn-outline-info btn-sm p-1 m-0 w-50 rounded" title="Ver en el Tangle">
                            <img src="{{ url_for('static', filename='img/favicon.png') }}" alt="Ver en el tangle"
                            width="80%" height="90%"/>
                        </button>
                        
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
    <!-- END - ORDERS LISTING  -->
</div>

<br>

{% endblock %}