{% extends 'core/base.html' %}

{% block content %}

<h2>Registrar una Transacción</h2>
<hr>

<form method="POST" action="{{url_for('home.registry')}}">

    <div class="form-row">
        <div class="form-group col-lg-12">
            <label for="input_radicado">Radicado</label>
            <input type="text" class="form-control bg-light" id="input_radicado" name="radicado" value="{{radicado}}" 
                readonly required>
        </div>

    </div>

    <hr>
    <label><b>Vechiculo</b></label>
    <div class="form-row">
        <div class="form-group col-lg-3">
            <label for="input_placa">Placa</label>
            <input type="text" class="form-control" id="input_placa" name="placa" placeholder="RFG345" required>
        </div>
        <div class="form-group col-lg-3">
            <label for="input_vehiculo">Tipo</label>
            <select id="input_vehiculo" name="vehiculo" class="form-control" required>
            {% for v_type in vehicle_types %}
                <option value="{{v_type}}">{{v_type}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group col-lg-3">
            <label for="input_marca">Marca</label>
            <select id="input_marca" name="marca" class="form-control" required>
                {% for v_brand in vehicle_brands %}
                <option value="{{v_brand}}">{{v_brand}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group col-lg-3">
            <label for="input_modelo">Modelo</label>
            <select id="input_modelo" name="modelo" class="form-control" required>
                {% for year in vehicle_models_years %}
                <option value="{{year}}">{{year}}</option>
            {% endfor %}
            </select>
        </div>
    </div>


    <hr>
    <label><b>Propietario</b></label>
    <div class="form-row">
        <div class="form-group col-lg-3">
            <label>Cedula</label>
            <input type="text" class="form-control" id="input_cedula" name="cedula" placeholder="123456789" required>
        </div>
        <div class="form-group col-lg-6">
            <label>Nombre</label>
            <input type="text" class="form-control" id="input_nombre" name="nombre" placeholder="Pepe Perez Sosa"
                required>
        </div>
        <div class="form-group col-lg-3">
            <label>Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="input_fecha_nacimiento" name="fecha_nacimiento" required>
        </div>
    </div>
    <hr>


    <div class="form-row d-flex justify-content-center">
        <div class="col-4">
            <label class="form-check-label" for="input_seguro">
                Seguro particular
            </label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="seguro" id="input_si_seguro" value="true" checked>
                <label class="form-check-label" for="input_si_seguro">
                    Si
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="seguro" id="input_no_seguro" value="false" checked>
                <label class="form-check-label" for="input_no_seguro">
                    No
                </label>
            </div>

        </div>
    </div>

    <br>

    <div class="form-row d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-info rounded col-4">Enviar</button>
    </div>


</form>

<br>

{% endblock %}